body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 17px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.sectionMessages {
  display: flex;
  height: 80vh;
  width: 75%;
  flex-wrap: wrap;
}

.messagesContainer {
  width: 100%;
  height: 93%;
}

.typingBar {
  height: 7%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: white;
}

.titleHeader {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Merriweather", sans-serif;
  color: #3c3c3c;
}

.navMenu {
  background-color: #a39a9a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
}

.navMenu ul li {
  list-style-type: none;
}

.navMenu ul li a {
  text-decoration: none;
  color: white;
  list-style: none;
  list-style-type: none;
}

.navMenu ul li :hover {
  background-color: #3c3c3c;
}

.navMenu ul li a {
  padding-top: 19px;
  padding-bottom: 19.5px;
  padding-right: 8px;
  padding-left: 8px;
}

.navLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

aside {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5%;
  background-color: gray;
}

input[type="text"] {
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-icons i {
  position: absolute;
  margin-top: 12px;
  margin-left: 5px;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.inputMessage {
  text-indent: 10px;
}
